<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegisterServlets</servlet-name>
        <servlet-class>Servlet.RegisterServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlets</servlet-name>
        <servlet-class>Servlet.LoginServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>Servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmp</servlet-name>
        <servlet-class>Servlet.AddEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Algorithm</servlet-name>
        <servlet-class>Servlet.Algorithm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordInsertServlet</servlet-name>
        <servlet-class>Servlet.RecordInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlets</servlet-name>
        <url-pattern>/RegisterServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlets</servlet-name>
        <url-pattern>/LoginServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmp</servlet-name>
        <url-pattern>/AddEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Algorithm</servlet-name>
        <url-pattern>/Algorithm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordInsertServlet</servlet-name>
        <url-pattern>/RecordInsertServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
